header {
    text-align: center;
    font-family: PocketWrench;
}

.waves-effect, .inputTextArea {
    background-color: lightsteelblue;
    float: right;
}

#pic {
    float: left;
}

.hidden {
    text-align: center;
}